body{
    font-family: 'Montserrat', sans-serif;
    color: #363636
}
p, a, h2, h5{
    font-weight: 300;
}
a, a:hover{
    color: #363636;
    text-decoration: none;
}
:focus {
    outline: none;
}
.bg-blanco{
    background-color: white;
    border-bottom: 1px solid #363636;
}
.bg-amarillo{
    background-color: #f7e72a;
}
.text-gris{
    color: #363636;
}
.espaciado{
    line-height: 2.5rem;
}
.bold{
    font-weight: 700;
}
.no-border{
    border: none;
}
.card-img, .card-img-top {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.logo{
    font-weight: 200;
    font-size: 1.2rem;
}
.logo-mr{
    font-weight: 700;
    font-size: 0.65rem;
    text-shadow: -4px 3px 0 #f7e72a;
}
.hero-section {
    background-image: url('../img/desktop.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    min-height: 30rem;
    padding-top: 23rem;
}
.sombra{
    text-shadow: 0 0 6px #000000;
}
.titulo-nombre{
    font-size: 3rem;
    font-weight: 700;
}
.titulo-profesion{
    font-size: 0.85rem;
    font-weight: 300;
}
.titulo{
    text-shadow: -4px 3px 0 #f7e72a;
}
.img-experiencia{
    margin: 0 auto;
    width: 7rem;
}
.cargo{
    font-weight: 500;
}
.btn-principal{
    border-radius: 0;
    background: #f7e72a;
    border-color: #f7e72a;
    color: #363636;
    width: 11rem;
}
.btn-principal:hover{
    border-color: #363636;
    transition: 0.8s;
}
.btn-principal a{
    font-weight: 500;
}
.btn-simple{
    border-radius: 0;
    background: transparent;
    border-color: #363636;
    color: #363636;
}
.btn-simple:hover{
    background: #f7e72a;
    border-color: #f7e72a;
    transition: 0.6s;
}
.carousel-indicators{
    position: relative;
    margin: 10px 0 0;
}
.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #373a3C;
}
.typeform-widget{
    height: 20rem;
}
.subir{
    color: #f7e72a;
    padding: 0.5rem;
    text-shadow: 0px 0px 2px #1918184f;
}
.subir:hover{
    color: #f7e72a;
}
.bg-gris{
    background-color: #363636;
}
.logo-footer{
    font-weight: 200;
    font-size: 1.8rem;
}
.logo-mr-footer{
    font-size: 1rem;
    font-weight: 700;
    text-shadow: none;
}
